/*Hoja de estilos para proyecto de sitio de orientacion en RGPD por @edgamen*/
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fuentes/Open_Sans/opensans_regular.otf") format("otf"), url("../fuentes/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}


* {
    box-sizing: border-box;
}

/* Para mobile: */
[class*="col-"], button {
    width: 99.5%;
    margin-top: 0;
}

/* Para tablets*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 99.5%;}

    aside{font-size: 0.87em;}
    .noticias{margin: 16px 1% 0% 1%;}
    .col-251 {width: 19.4%;}
        
} 

/* Para escritorio */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-25 {width: 20%;}
    .col-251 {width: 19.5%;}
    .col-3 {width: 24.5%;}/*Se cambia de 25%*/
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
} 
/*Codigo de estilo para formulario**/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.contenedor {
    width: 95%;
    border-radius: 5px;
    background-color: #E3DAC9 ;
    padding: 20px;
}

.col-25f {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75f {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Fin de codigo de estilo para formulario**/

/*Se agregan clases para manejar un grid de 12 sectores*/

body{
    
   /* background-color: rgb(22, 78, 156);*/
    background-color: rgb(118, 154, 203);
    font-family: 'Open Sans','Roboto', sans-serif;
}
/*Estilo para menu boton activo*/
body#inicio ul.menu li:nth-child(1) a,
body#listachequeorgpd ul.menu li:nth-child(2) a,
body#inforgpd ul.menu li:nth-child(3) a,
body#noticias ul.menu li:nth-child(4) a,
body#contacto ul.menu li:nth-child(5) a{
    background-color: #E3DAC9;
    border: 1px solid #181818; 
}

header{
    background-color: rgb(22, 78, 156);
    border: 1px solid blue;
}
header nav{
    background-color: rgb(53, 99, 163);
    float: right;
    text-align: center;
    margin:0px auto;
    /*width: 100%;*/
}

header nav ul{
   
    overflow: hidden;
    list-style-type: none;
    padding-left: 0px;
    height: 100%;
    margin: 0;
    text-align: center;

}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    height: 100%;
    float:left;
    /*width: 19%;*/
}

header nav ul li a:visited{
    
    color: rgb(68, 70, 71);
        
}

header nav ul li a:hover{
    color: #181818;
    border: 1px solid #181818;
    background-color: #E3DAC9;
    font-weight: bolder;
    text-decoration: underline;
    transition: 2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);/*Se agregan sombras*/
    /*font-size: large;**/
}

header nav ul li a:active {
    background-color: #E3DAC9;
    color: #181818;
}


header nav ul li a{
    padding:20px;
	display:block;
    text-decoration: none;
    color: rgb(168, 193, 226);
    font-size: large;
    /*display: block;
    padding: 14px 16px;*/
    /*color: #181818;*/
    /*color: #E3DAC9;
    padding-bottom: 3px;*/
}
/*header nav ul li span {
	margin-right:10px;
}*/

nav a:hover{
    color: #181818;
}

main{
    background-color: rgb(118, 154, 203);
}

p{
    text-align: justify;
    margin: 2%;
    
}
/*label{
    background-color: rgba(0,0,0,0.12)
}*/

.noticias{
    
    background-color: rgb(98, 139, 197);
    margin:16px 1% 0% 1% ;
    border-radius: 2px;
    
}
#usoDatos{
    background-color: rgb(98, 139, 197);
    margin:12px 0% 0% 0% ;
}
#formulario{
    width: 100%;
    text-align: center;
    
}
.inforgpd>p>a{
    text-decoration: none;
}
aside{
    overflow: auto;
    display: inline-block;
    width: 24.5%;
    color: #181818;
    font-size: normal;
    vertical-align: top;
    margin: 0.25%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);/*Se agregan sombras*/
    /*position: fixed;*/
    /*background-color: rgb(98, 139, 197);*/
    /*float: right;
    position: relative;*/
}

.politica{
    text-align: justify;
    width: 100%;
}
section{
    background-color: #E3DAC9;
    float: left;
    width: 75%;
    margin: 0px;
    /*background-color: rgb(168, 193, 226);*/
    /*border: 1px solid yellow;*/
}

.acordeon {
    float: left;
    padding: 0 1em;
   /* width: 50%;*/
  }
  /* Acordeon styles */
  .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color:#181818;
    overflow: hidden;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #E3DAC9;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }
 
  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #E3DAC9;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  
  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
  }
  /* Icon */
  .tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab input[type=checkbox] + label::after {
    content: "+";
  }
  .tab input[type=radio] + label::after {
    content: "\25BC";
  }
  .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }

article{
    display: inline-block;
    border: 1px solid gray;
/*#f4f0ea
#f8f5f1
#fbfaf8*/
}

footer{
    float: left;
    background-color: rgb(118, 154, 203);
    display: inline-table;
    width: 100%;
    vertical-align: bottom;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);/*Se agregan sombras*/
    /* background-color: rgb(168, 193, 226);
     background-color: rgb(255, 227, 154);
     border: 1px solid white;*/
    
}

footer ul{
    list-style-type: none;
    padding-left: 20px;
    
}

footer ul li{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    width: 19.6%;
    /*float: left;
    padding-left: 10px;*/
    
}

footer ul li a{
    
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    margin: 0% 2%;
}

footer ul li a:visited{
    
    color: rgb(37, 38, 39);
    padding-bottom: 3px;
    text-decoration: none;
    margin: 0% 2%;
}

footer ul li a:hover{
    
    color: rgb(168, 193, 226);
    font-weight: bold;
    padding-bottom: 3px;
    text-decoration: none;
    margin: 0% 2%;
}
footer ul li a:active{
    
    font-weight: bolder;
}

#formulario{
    text-align: center;
}
button{
    color: #181818;
    background-color: rgb(98, 139, 197);
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    float: left;
}
button:hover{
    color: #181818;
    background-color: rgba(98, 139, 197,0.8);
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    float: left;
}

h1{
    text-align: center;
    color: #E3DAC9;
    margin-left: 2%;
    margin-right: 2%;
    /*color: rgb(255, 227, 154);*/
    /*margin-top: 0%;
    margin-bottom: 0%;*/
}

h2{
    background-color: rgb(118, 154, 203);
    color: #181818;
    margin-left:1%;
    margin-right: 1%;
    font-size: 1.2em;
    border-radius: 2px;
    padding-left: 10px;
        
}

h3{
    text-align: center;
    color: #181818;
    margin-left: 2%;
    margin-right:2%;
}
h4{
    padding: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2%;
}

h6{
    text-align: center;
}
