/*Hoja de estilos para proyecto de sitio de orientacion en RGPD por @edgamen*/
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fuentes/Open_Sans/opensans_regular.otf") format("otf"), url("../fuentes/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}


* {
    box-sizing: border-box;
}

/* Para mobile: */
[class*="col-"] {
    width: 100%;
    
    
}

/* Para tablets*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    
} 

/* Para escritorio */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-25 {width: 20%;}
    .col-251 {width: 19.6%;}
    .col-3 {width: 24.5%;}/*Se cambia de 25%*/
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
} 


/*https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_col-s*/

/*Se agregan clases para manejar un grid de 12 sectores*/


body{
    
   /* background-color: rgb(22, 78, 156);*/
    background-color: rgb(118, 154, 203);
    font-family: 'Open Sans','Roboto', sans-serif;

}
header{
    background-color: rgb(22, 78, 156);
    border: 1px solid blue;
}
header nav{
    background-color: rgb(53, 99, 163);
    float: right;
    /*width: 100%;*/
    text-align: center;
    
    margin:0px auto;
    
    
}



header nav ul{
   
    overflow: hidden;
    list-style-type: none;
    padding-left: 0px;
    height: 100%;
    
    margin: 0;
    text-align: center;

}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    /*width: 19%;*/
    height: 100%;
    float:left;
            
}

header nav ul li a:visited{
    
    color: rgb(168, 193, 226);
        
}

header nav ul li a:hover{
    border: 1px solid #181818;
    background-color: #E3DAC9;
    font-weight: bolder;
    text-decoration: underline;
    /*font-size: large;**/
    transition: 2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);/*Se agregan sombras*/
    
}

header nav ul li a:active {
    background-color: #E3DAC9;
    color: #181818;
}


header nav ul li a{
    /*display: block;
    
    padding: 14px 16px;*/
    

    font-size: large;
    /*color: #181818;*/
    /*color: #E3DAC9;
    padding-bottom: 3px;*/
    padding:20px;
	display:block;
    text-decoration: none;
}
/*header nav ul li span {
	margin-right:10px;
}*/

nav a:hover{
    color: #181818;
}

main{
    background-color: rgb(118, 154, 203);
}

p{
    text-align: justify;
    margin: 2%;
    
}

.noticias{
    background-color: rgb(98, 139, 197);
    margin:12px 1% 0% 1% ;
    border-radius: 2px;
    
}
#usoDatos{
    background-color: rgb(98, 139, 197);
    margin:12px 0% 0% 0% ;
}
#formulario{
    width: 100%;
    text-align: center;
    
}
.inforgpd>p>a{
    text-decoration: none;
}
aside{
    overflow: auto;
    display: inline-block;
    /*float: right;
    position: relative;*/
    width: 24.5%;
    /*background-color: rgb(98, 139, 197);*/
    color: #181818;
    font-size: normal;
    vertical-align: top;
    margin: 0.25%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);/*Se agregan sombras*/
}

section{
    background-color: #E3DAC9;
    
    float: left;
    /*background-color: rgb(168, 193, 226);*/
    
    width: 75%;
    /*border: 1px solid yellow;*/
    margin: 0px;
}

.acordeon {
    float: left;
   /* width: 50%;*/
    padding: 0 1em;
  }
  /* Acordeon styles */
  .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color:#181818;
    overflow: hidden;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #E3DAC9;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }
  /*.blue label {
    background: #2980b9;
  }*/
  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #E3DAC9;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  /*.blue .tab-content {
    background: #3498db;
  }*/
  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
  }
  /* Icon */
  .tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab input[type=checkbox] + label::after {
    content: "+";
  }
  .tab input[type=radio] + label::after {
    content: "\25BC";
  }
  .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }

article{
    display: inline-block;
    border: 1px solid gray;
/*#f4f0ea
#f8f5f1
#fbfaf8*/
}

footer{
    float: left;
    background-color: rgb(118, 154, 203);
   /* background-color: rgb(168, 193, 226);
    background-color: rgb(255, 227, 154);
    border: 1px solid white;*/
    display: inline-table;
    width: 100%;
    vertical-align: bottom;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);/*Se agregan sombras*/

}

footer ul{
    list-style-type: none;
    padding-left: 20px;
    
}

footer ul li{
    text-align: center;
    list-style-type: none;
    
    display: inline-block;
    /*float: left;
    padding-left: 10px;*/
    width: 19.6%;
    
}

footer ul li a{
    
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    margin: 0% 2%;
}

h1{
    text-align: right;
    /*color: rgb(255, 227, 154);*/
    color: #E3DAC9;
    margin-left: 2%;
    margin-right: 2%;
    /*margin-top: 0%;
    margin-bottom: 0%;*/


}

h2{
    background-color: rgb(118, 154, 203);
    color: #181818;
    margin-left:1%;
    margin-right: 1%;
    font-size: 1.2em;
    border-radius: 2px;
    padding-left: 10px;
        
}

h3{
    text-align: center;
    color: #181818;
    margin-left: 2%;
    margin-right:2%;
}
h4{
    padding: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2%;
}

h6{
    text-align: center;
}




